.site-title {
    font-size: 1.125rem !important;
}

.site-button {
  padding: 0.5rem;
}

.site-button-inactive {
  display: flex;
  font-style: italic;
  height: 100%;
  padding: 0.5rem;
  align-items: center;
  outline-offset: -1px; // Fixes outline clipping on both desktop/mobile "views"
}