<nav aria-label="Auxiliary" class="aux-nav">
  <ul class="aux-nav-list">
      <li class="aux-nav-list-item">
        <span class="site-button-inactive">Curious about Majoring in Philosophy?</span>
      </li>
    {% for link in site.aux_links %}
      <li class="aux-nav-list-item">
        <a href="{{ link.last }}" class="site-button"
          {% if site.aux_links_new_tab %}
          target="_blank" rel="noopener noreferrer"
          {% endif %}
        >
          {{ link.first }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
